html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
{
	display: block;
}

body 
{
}

ul, ol, dl 
{
	display: block;
}

blockquote, q 
{
	quotes: none;
}

h1
{
	font-size: 50px;	
    color: black;
}

h2
{
    font-size: 30px;
}

strong
{
    font-style: bold;
}

a
{
    font-weight: bold;
    color: rgb(20, 20, 200);
}

a:visited
{
   color: grey; 
}

a:hover
{
    color: black;
}

small
{
    font-size: 12pt;
    color: grey;
}

time
{
    font-family: "Lucida Console", Monaco, monospace;
    text-transform: uppercase;
}

.large
{
    font-size: 18px;
}

#title
{
    font-size: 50pt;
    margin-top: -5pt;
    margin-bottom: -5pt;
}

#related h2
{
    font-size: 30pt;
}

#related ul
{
    font-size: 12pt;
    padding-left: 25px;
    list-style: none;
    color: #111;
}

#container
{
    width: 800px;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin: 0 auto;

    font-family: "Open Sans", "Helvetica Neue",  Helvetica, Arial, sans-serif;
    font-size: 15pt;
    font-weight: normal;
    color: #000;
}

#content
{
    overflow: auto;
}
    #content h2
    {
        color: black;
        display: block;
        padding-top: 15px;
        padding-bottom: 5px;
        font-size: 30px;
        font-weight: bold;
    }
    #content h3
    {
        color: black;
        display: block;
        padding-top: 10px;
        font-size: 25px;
        font-weight: bold;
    }
    #content p
    {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #content ul
    {
        list-style-type: none;
    }


    #content #top-bar
    {
        font-size: 25pt;
    }

    #content #contact
    {
        float: right;
    }
        #content #contact a
        {
            text-decoration: none;
            font-weight: normal;
            color: grey;
        }
        #content #contact a:hover
        {
            color: black;
        }
        #content #contact a:visited
        {
            color: grey;
        }
	#content #nav
	{

	}
        #content #nav a
        {
            font-weight: normal;
        }
		#content #nav a
		{
            color: grey;
            text-decoration: none;
        }		
        #content #nav a:visited
        {
            color: grey;
        }
        #content #nav a:hover
        {
            color: black;
       	}

		#content #nav ul
		{
			list-style-type: none;
            padding: 0px 0px 0px 0px;
		}

		#content #nav li 
 	  	{
    		text-align: center;
    		margin: auto;
   			padding: auto;
    		display: inline;
    	}

		#content #nav li#current a
		{
    		color: black;
		}

    #content #projects
    {
        display: block;
        padding-left: 20px;
    }
        #content #projects .project
        {
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;
        }
            #content #projects .project h1
            {
                font-size: 20px;
                display: block;
                font-weight: bold;
                padding-bottom: 5px;
            }

            #content #projects .project h1 small
            {
                display: block;
                font-size: 12px;
                font-weight: normal;
                color: grey;
            }

            #content #projects .project h1 a
            {
                color: grey;
            }

            #content #projects .project h1 a:hover
            {
                color: black;
            }

            #content #projects .project .info
            {
                padding-left: 20px;
            }

            #content #projects .project .info th
            {
                text-align: left;
                color: black;
                font-weight: bold;
                padding-right: 30px;
            }

#contact a:hover
{
    color: black;
}

#container footer
{
    color: #515151;
    margin-top: 40px;
	padding-top: 20px;
    padding-bottom: 30px;
    font-size: 13pt;
}
