html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
{
	display: block;
}

body 
{
}

ul, ol, dl 
{
	display: block;
}

blockquote, q 
{
	quotes: none;
}

h1
{
	font-size: 50px;	
    color: black;
}

h2
{
    font-size: 30px;
}

strong
{
    font-style: bold;
}

a
{
    font-weight: bold;
    color: rgb(20, 20, 200);
}

a:visited
{
   color: grey; 
}

a:hover
{
    color: black;
}

small
{
    font-size: 12pt;
    color: grey;
}

time
{
    font-family: "Lucida Console", Monaco, monospace;
    text-transform: uppercase;
}

pre code 
{ 
    display: block; 
    white-space: pre; 
    overflow-x: auto; 
    word-wrap: normal; 

    font-size: 70%;
    line-height: 1.35;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #f5f5f5;
    border-radius: 3px;
    font-family: "Consolas", "Liberation Mono", Menlo, Courier, monospace;
}

.large
{
    font-size: 18px;
}

#title
{
    font-size: 50pt;
    margin-top: -5pt;
    margin-bottom: -5pt;
}

#related h2
{
    font-size: 30pt;
}

#related ul
{
    font-size: 12pt;
    padding-left: 25px;
    list-style: none;
    color: #111;
}

#archive
{
    font-family: "Lucida Console", Monaco, monospace;
    text-transform: uppercase;
    padding-bottom: 0;
    padding-top: 0;
    float: right;
}

#archive a
{
    color: grey;
}

#archive a:hover
{
    color: black;
}

html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
}

#container
{
    width: 800px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin: 0 auto;

    font-family: "Open Sans", "Helvetica Neue",  Helvetica, Arial, sans-serif;
    font-size: 14pt;
    font-weight: normal;
    color: #333;

    min-height: 100%;
    position: relative;
}

#disqus_thread
{
    padding-bottom: 100px;
}

#content
{
    overflow: auto;
}
    #content h1, h2, h3, h4, h5
    {
        border-bottom: 1px solid #eee;
    }
    #content h1
    {
        color: black;
        display: block;
        font-size: 33pt;
    }
    #content h2
    {
        font-size: 30pt;
    }
    #content h3
    {
        font-size: 25pt;
    }
    #content h4
    {
        font-size: 22pt;
        color: grey;
    }
    #content h5
    {
        font-size: 22pt;
        font-style: italic;
        color: grey;
        text-decoration: underline;
    }

    #content p
    {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #content ul
    {
        padding-left: 2em;
        margin-bottom: 20px;
        padding-top: 10px;
    }


    #content #top-bar
    {
        font-size: 25pt;
    }

    #content #contact
    {
        float: right;
    }
        #content #contact a
        {
            text-decoration: none;
            font-weight: normal;
            color: grey;
        }
        #content #contact a:hover
        {
            color: black;
        }
	#content #nav
	{
	}
        #content #nav a
        {
            font-weight: normal;
        }
		#content #nav a
		{
            color: grey;
            text-decoration: none;
        }		
        #content #nav a:visited
        {
            color: grey;
        }
        #content #nav a:hover
        {
            color: black;
       	}

		#content #nav ul
		{
			list-style-type: none;
            padding: 0px 0px 0px 0px;
		}

		#content #nav li 
 	  	{
    		text-align: center;
    		margin: auto;
   			padding: auto;
    		display: inline;
    	}

		#content #nav li#current a
		{
    		color: black;
		}

    #content #projects
    {
        display: block;
        padding-left: 20px;
    }
        #content #projects .project
        {
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;
        }
            #content #projects .project h1
            {
                font-size: 20px;
                display: block;
                font-weight: bold;
                padding-bottom: 5px;
            }

            #content #projects .project h1 small
            {
                display: block;
                font-size: 12px;
                font-weight: normal;
                color: grey;
            }

            #content #projects .project h1 a
            {
                color: grey;
            }

            #content #projects .project h1 a:hover
            {
                color: black;
            }

            #content #projects .project .info
            {
                padding-left: 20px;
            }

            #content #projects .project .info th
            {
                text-align: left;
                color: black;
                font-weight: bold;
                padding-right: 30px;
            }

#contact a:hover
{
    color: black;
}

#content
{
    padding-bottom: 80px; /* footer height */
}

#container footer
{
    color: #515151;
    font-size: 13px;
    border-top: 1px solid #ddd;
    
    padding-top: 10px;

    height: 40px;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
}
