/* Reset some basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hspace {
  display: inline;
  margin-left: 0.25em;
}

body {
  font-size: 13pt;
  font-family: system-ui;
  line-height: 1.6;
  color: rgb(46, 54, 59);
  margin: 2em;
}

a {
  text-decoration: none;
  color: rgb(79, 94, 104);
}

a:hover {
  text-decoration: underline;
  color: rgb(46, 54, 59);
}

main {
  max-width: 900px;
  margin: 0 auto;
}

main h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}

main p {
  margin-bottom: 0.5em;
}

main ul {
  list-style-type: square;
  padding-left: 25px;
}

main ul:not(ul ul) {
  margin-bottom: 0.25em;
}

nav {
  display: flex;
  font-size: 1.5em;
  letter-spacing: 0.1rem;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  margin-left: 1.25em;
  margin-right: 1.25em;
}

nav a:hover {
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  height: auto;
}

nav a {
  display: block;
  transition: background-color 0.2s ease;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #333;
  border-radius: 2pt;
}

nav a:active {
  transition: background-color 0.15s ease;
  background-color: #f0f0f0;
}
nav a:hover {
  transition: background-color 0.1s ease;
  background-color: #f0f0f0;
}

.katex-display > .katex { white-space: normal }
.katex-display > .base { margin: 0.25em 0 }
.katex-display { margin: 0.5em 0; }

.info {
  text-align: center;
  padding-bottom: 1.6em;
}

.info .times {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  font-size: 0.9em;
}

.profile-card {
  display: flex;
}

.bio {
  word-break: keep-all;
}

.profile-pic {
  height: 26em;
  display: inline;
  clip-path: circle();
  margin-right: 2.25em;
}

/* small screen */
@media only screen and (max-width: 760pt) {
  body {
    font-size: 14pt;
    margin: 0.125em;
  }
  nav {
    font-size: 1.25em;
    margin-left: 1em;
    margin-right: 1em;
  }
  main {
    margin-left: 1em;
    margin-right: 1em;
  }
  .profile-card {
    display: block;
  }
  .profile-pic {
    display: block;
    margin: auto;
    margin-bottom: 2em;
    height: 12em;
  }
}
