<div id="nav">
    <ul>
        <!-- TODO: use variables for this shit {{ site.url }}-->
        <li id=""><a href="http://miguel-martin.com">me</a></li>
        <li id=""><a href="http://miguel-martin.com/lifestory.html">lifestory</a></li>
        <li id=""><a href="http://miguel-martin.com/projects.html">projects</a></li>
        <li id=""><a href="http://miguel-martin.com/resume.html">resume</a></li>
        <li id=""><a target="_blank" href="http://miguelmartin75.wordpress.com/">blog</a></li>
    </ul>
</div>
