{% include top.html %}
<div id="container">

    <div id="content">
        <div id="title">
            blog
        </div>
        {% include header.html %}

        <article>
            <div class="title">
                <div class="heading">
                    {{ page.title }}
                </div>
                <div class="sub-heading">
                    <time datetime="{{ page.date | date_to_xmlschema }}">
                        {{ page.date | date: "%A," }}
                        {% assign d = page.date | date: "%-d"  %}
                        {{ page.date | date: "%B" }} 
                        {% case d %}
                            {% when '1' or '21' or '31' %}{{ d }}st,
                            {% when '2' or '22' %}{{ d }}nd,
                            {% when '3' or '23' %}{{ d }}rd,
                            {% else %}{{ d }}th,
                        {% endcase %}
                        {{ page.date | date: "%Y" }}
                    </time>
                </div>
            </div>

            {{ content }}

            {% if site.related_posts.length > 0 %}
            <aside id="related">
                <h2>Related Posts</h2>

                <ul id="related-posts">
                    {% for post in site.related_posts limit:5 %}
                    <li>
                        <time datetime="{{ post.date | date_to_xmlschema }}">{{ page.date | date: '%B %-d, %Y' }}</time>
                        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </aside>
            {% endif %}
        </article>

        {% include archive.html %}
        {% include comments.html %}
        {% include footer.html %}
    </div>
</div>
</body>
</html>
